<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissible" id="error_explanation">

      <p>В форме <%= I18n.t("error", count: resource.errors.count) %></p>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>